NEXT_PUBLIC_BASE_PATH=
BACKEND_URL=http://127.0.0.1:3003
NEXT_PUBLIC_SITE_URL=http://localhost:3002
NEXT_PUBLIC_ERPCONS_URL=https://lpc.vn/erpcons
NEXT_PUBLIC_APP_NAME=ERPCons
NEXT_PUBLIC_APP_VERSION=v2026.1.0
NEXT_PUBLIC_AUTH_BACKGROUND=/auth-background.jpg
NEXT_PUBLIC_TOOLS_OFF=
